//=========theme color ==============

$theme-colors: ("primary": #55565b,
  "secondary": #5645ff, "info":#575757, "light": #f8f8f8);

//========= Variable color ==========

$primary: #55565b;
$secondary: #5645ff;
$secondary-hover:#2812ff;
$white: #fff;
$info: #575757;
$light: #f8f8f8;
$dark: #000;

//============border radius===========

$border-radius: 0.5rem;

//============font weight============

$font-weight-lighter: 500;

//============font size================

$font-size-10:0.625;
$font-size-12: 0.75rem;
$font-size-14: 0.856rem;
$font-size-18:1.125rem;

//=============font family===============

$font-family-josefin: 'Josefin Sans';
$font-family-poppins: 'Poppins',sans-serif;

@font-face {
  font-family: 'helvetica-neue';
  src: url(../fonts/neue-helvetica-cufonfonts/Helvetica\ Neue\ LT\ 65\ Medium.ttf);
}

//==============Import files================

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Poppins:ital,wght@0,200;1,200&display=swap');

//================meadia querys===============

@mixin media-breakpoint-min-large {
  @media (min-width:992px) {
    @content;
  }
}

@mixin media-breakpoint-max-large {
  @media (max-width:992px) {
    @content;
  }
}

@mixin media-breakpoint-medium {
  @media (max-width:767px) {
    @content;
  }
}

//================animation for banner===================

.animated-banner {
  animation-duration: 10s;
  animation-fill-mode: both;
}

//===============animation for inner web page===========

.animated {
  animation-duration: .4s;
  animation-fill-mode: both;
}

//=================body========================

//================globle classes========================

.main-heading {
  font-family: $font-family-josefin;
  letter-spacing: 3px;
}

.sub-heading {
  letter-spacing: 6px;
}
.Lorem-paragraph {
  letter-spacing: 1px;
  font-family: $font-family-poppins;
}
//==========================================================================================================
body {
  font-family: 'helvetica-neue' !important;

 //================header====================
  header {

//==================navbar starts===========

    .navbar {
      z-index: 1000;

      @include media-breakpoint-min-large {
        position: fixed;
      }

      .dropdown:hover .creativeAgency {
        display: block !important;
      }

      .element-dropdown {
        width: 93%;
        left: 43px;
      }

      .nav-link {
        font-size: $font-size-12 !important;
      }

      .nav-item {
        .creativeAgency {
          li {
            font-size: $font-size-10;
          }
        }
      }

      .navbar-toggler {

        &:active,
        &:focus {
          box-shadow: none !important;
        }
      }

      .nav-link {
        color: $primary;

        @include media-breakpoint-min-large {
          color: $white;
        }
      }
    }

  }

//==================End navbar==================

//===================banner section start===========

  .banner-section {
    width: 100%;
    height: 100vh;
    background-image: url("../images/big-14.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &::after {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      background-color: #333;
      opacity: 0.7;
      z-index: 0;
    }

    &>* {
      position: relative;
      z-index: 1;
      top: 21%;
    }

    .image-section {
      .header-section {
        top: 0%;
        left: 10%;

        @include media-breakpoint-medium {
          left: 0%;
        }

        .main-heading1 {
          letter-spacing: 7px;
        }

        .start-up {
          font-size: 160px;
          letter-spacing: 14px;

          @include media-breakpoint-max-large {
            font-size: 110px;
            letter-spacing: 5px;
          }

          @include media-breakpoint-medium {
            font-size: 60px;

          }
        }

        .Lorem-paragraph-banner {
          width: 50%;

          @include media-breakpoint-medium {
            width: 100%;
          }
        }
      }
    }
  }

//======================End banner section============

//================content section start=============

.content-wrapper {
    .contenet-text {
      letter-spacing: 3px;
    }

    .ico-box {
      border-radius: $border-radius;
      background-color: $light;

      .heading-sub {
        color: $info;
        letter-spacing: 2px;
        font-family: $font-family-josefin;
        font-size: $font-size-18;
      }

      .sub-paragraph {
        font-size: $font-size-14;
      }

      &:hover {
        box-shadow: inset 400px 0 0 0 $white, 1px 1px 14px 1px #d9d6d6;
        transition: ease-out 0.4s;

        .icon i {
          color: $secondary;
        }

        &>.heading-sub {
          color: $secondary;
        }
      }
    }
  }

//===================End content section===================

//====================inner wapper section================
  .inner-wapper {
    background-image: url(../images/big-15.jpg);
    width: 100%;
    background-position: 50% -80%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;

    &::after {
      content: ' ';
      display: block;
      position: absolute;
      bottom: 0;
      top: 0;
      width: 100%;
      background-color: #333;
      opacity: 0.7;
      z-index: 0;
    }

    &>* {
      position: relative;
      z-index: 1;
    }

    &-heading {
      font-family: $font-family-josefin;
    }

    &-sub-heading {
      letter-spacing: 3px;
    }

    .inner-wapper-get-button {
      background-color: $secondary;
      border-color: $secondary;
      letter-spacing: 3px;

      &:hover {
        background-color: $secondary-hover;
        border-color: $secondary-hover;
      }
    }
  }
//====================End inner-wapper section==========

//====================Protofolia block================

  .protofolio-block {
    .figure {
      .figure-caption {
        display: none;
        top: 43%;
        left: 43%;
      }

      &:hover {
        &::before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          background-color: #333;
          transition: ease-out 0.4s;
          opacity: 0.6;
        }

        .figure-caption {
          display: block;
        }
      }
    }
  }

//====================End Protofolia block================

//====================the life size section================

  .life-section {
    .block-heading {
      p {
        font-size: $font-size-18 !important;
        letter-spacing: 1px;
      }
    }
    .web-ul {
      font-size: $font-size-12;
    }

    .view-button {
      background-color: $dark;
      color: $white;
      letter-spacing: 3px;
      font-size: $font-size-18;
      border-color:$dark !important;

      &:hover {
        background-color: $white;
        color: $dark;
      }
    }
  }
//====================End the life size section================

//====================work place section================
 
  .work-place {
    width: 100%;
    height: 980px;
    background-image: url("../images/big-01.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .block-heading {
      .dummy-paragraph {
        @include media-breakpoint-medium {
          font-size: $font-size-12;
        }
      }
    }
  }
//===========End Work Place============

//===========team-work-section=========

.team-work-section{
  .carousel{
    .carousel-control-prev{
      left: -10%;
    }
    .carousel-control-next{
      right:-10%;
    }
   .carousel-item{
     .team-column:hover .hello{
      display: block;
      transition: 3s;
    transform: translateY(-200px);
      
     }
   }
  }
}
//===========End team-work-section=======
}

//=============import file of bootstrap===================

@import "../node_modules/bootstrap/scss/bootstrap";